@using TodoListClient.Models
@model LuisStateViewModel;

@{
   ViewData["Title"] = "Luis State";
}

<h1>
    Luis Account
</h1>

<p></p>
<div>
    <h4>Details from REST service called from Custom Policy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

    </dl>
</div>
<p></p>
<div>
    <h4>Details from AAD B2C Registration (never entered by user)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
      

    </dl>
</div>
@if (Model.OnBehalfOf != "default") 
{ 
<div class="jumbotron">
    <h2>Acting on behalf of @Model.OnBehalfOf</h2>
</div>

}


<h4>Act on behalf of...</h4>

<div>
    @foreach (var item in Model.Links)
    {
    <div>
        @Html.ActionLink(item.LinkText, item.ActionName, item.ControllerName, new { Area = "MicrosoftIdentity", luis_state = item.LuisState })
    </div>
    }


</div>